.contact-btn a:hover {
  color: #fff;
}



/* List Style */
.header-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  padding: 20px 0;
  position: relative;
}

.links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 25px;
  list-style: none;
  font-size: 18px;
  z-index: 20;
  margin-bottom: 0 !important;
}

/* List Style */

/* Hamburger Menu */

.hamburger {
  z-index: 10;
  display: none;
}

.hamburger i {
  font-size: 2rem;
  cursor: pointer;
}

.close {
  display: none;
  position: absolute;
  cursor: pointer;
  transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.close:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* drop down menu */
.drop-down {
  z-index: inherit;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.drop-down:hover .drop-down-item {
  display: block;
}

.drop-down-item {
  display: none;
  position: absolute;
  justify-content: start;
  width: 300px;
}

.drop-down-item ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  margin-top: 15px;
  row-gap: 0;
  background-color: var(--blue-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0;
}

.drop-down-item ul li {
  width: 100%;
  display: flex;
  justify-self: start;
}

.drop-down-item ul a {
  width: 100%;
  display: flex;
  justify-content: end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.651);
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-down-item ul a:hover {
  color: aliceblue;
  background-color: #ffffff5e;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.drop-down-item ul a:last-child {
  border: none;
}

/* navbar bg */
.navbar-background {
  display: none;
}

@media only screen and (max-width: 992px) {
  .links a {
    font-size: 16px;
  }

  .links ul li:nth-child(6) {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  /* navbar bg */
  .navbar-background {
    display: block;
  }

  .links ul li:nth-child(6) {
    display: block;
  }

  /* navbar */
  .hamburger {
    display: block;
    z-index: 38;
  }

  .links {
    position: relative;
  }

  .close {
    display: block;
    position: absolute;
    left: 8px;
    padding: 15px 18px;
    top: 8px;
    background-color: #ffffff8f;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  .header-list {
    height: auto;
    z-index: 50;
    position: relative;
  }

  .links>ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    padding: 60px 40px;
    text-align: center;
    /* background-color: #0d4dff; */
    background-color: #141A2A;
    transition: 1s;
    scroll-behavior: smooth;
    overflow-y: scroll;
    z-index: 40;
  }

  .links>ul::-webkit-scrollbar {
    display: none;
  }

  .links ul li a:hover {
    color: aliceblue;
  }

  .links ul.active {
    right: 0;
  }

  .contact-btn {
    display: none;
  }

  /* dropdown menu */
  .drop-down a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 7px;
  }

  .drop-down-item {
    position: relative;
    display: flex;
  }

  .drop-down-item ul li {
    width: 100%;
    display: flex;
    justify-self: start;
    font-size: 14px;
    color: rgba(240, 248, 255, 0.795);
  }

  .drop-down-item ul a {
    border-bottom: 0;
  }

  /*  navbar bg */
  .navbar-background {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 35;
    backdrop-filter: blur(10px);
  }
}