.aboutTeam {
    margin-top: 10%;
}

.aboutIcon {
    width: 60px !important;
    height: 60px !important;
    background-color: #1649FF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.aboutTeam p {
    font-size: 17px;
}