.blog {
    padding-top: 10%;
}

.blog-post-desc {
    padding: 45px 32px;
    background-color: var(--sec-background);
}

.blog-post-desc strong {
    line-height: 45px;
}

.blog-post-body img {
    background-color: rgb(216, 216, 216);
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

.blog-post-body .blog-post-desc {
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}

.content h1 {
    width: 100%;
}

.mini-blog-item img {
    background-color: rgb(216, 216, 216);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.blog-title {
    text-align: right;
    font-size: 20px !important;
    line-height: 33px;
    text-align: right !important;
}

@media screen and (max-width: 768px) {

    .blog-post-time p {
        font-size: 15px;
    }

    .blog-title {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 526px) {

    .blog-post-time {
        flex-direction: column;
    }
}